<div class="container">
  <h1 class="text-center my-5 text-primary">CORONAVIRUS</h1>
  <div class="my-4">
    <img src="../../../assets/images/corono/corona.jpg" class="img-fluid" alt="">
  </div>
  <h3 class="mb-3">What is COVID-19?</h3>

  <p>The World health organisation (WHO) defines corona virus as a large family of viruses that causes illness ranging
    from common cold to most severe diseases.</p>
  <p>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover
    without requiring special treatment. Older people, and those with underlying medical problems like cardiovascular
    disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness. </p>
  <p>From the occurrence of any disease, it is necessary for our immune system to be strong enough to cope up with the
    blood cells present in our body to fight against the disease.</p>
  <p>Therefore , there is a need for our immune to be strong. We can absolutely keep our immunity strong by maintaining
    a balanced diet and exercises to keep oneself fit.</p>
  <p>Generally medicines help you a lot to prevent you from these diseases.So , here's a one to help you to make your
    immune strong.</p>

  <div class="row mt-5">
    <div class="col">
      <div class="border"><img src="../../../assets/images/corono/Jollytmulsi51drop.jpg" alt=""></div>
      <div>
        <h3 class="my-4">Jolly Tulsi 51 Drop</h3>
        <p><b>Jolly Tulsi-51</b> drops is rich Anti Oxidant, Anti Aging, Anti Bacterial, Anti Viral, Anti Septic.It
          helps to mobilize mucous in bronchitis and asthma attacks. It is an effective remedy timulant, Demulcent,
          Childrens ailments , Fever and common cold, Sexual problems, Fever and common cold</p>
      </div>
    </div>
    <div class="col">
      <div class="border"><img src="../../../assets/images/corono/amalaki.jpg" alt=""></div>
      <div>
        <h3 class="my-4">Amalaki</h3>
        <p>Vitamin C booster whihc help to improves your immune</p>
        <p><b>Amalaki</b> is thought to reduce inflammation, alleviate pain, promote detox, sharpen memory, and protect
          against cancer</p>
      </div>
    </div>
    <div class="col">
      <div class="border"><img src="../../../assets/images/corono/nutrilitetulsi.jpg" alt=""></div>
      <div>
        <h3 class="my-4">NUTRILITE Tulsi</h3>
        <p>Tulsi herb is known to help in supporting immunity, being a potent adaptogen and having an antioxidant
          effect. Nutrilite Tulsi has assured levels (2%) of the beneficial active ingredient, Ursolic Acid, which is
          present in the extract of the aerial part of certified organic Tulsi herb . The right species goes into the
          tablet which is ensured by DNA Fingerprinting. We ensure Purity, Safety & Potency in the extracts of the herbs
          that go in every Nutrilite Tulsi tablet. </p>
      </div>
    </div>
  </div>
</div>
