
<!--Img End-->
<div class="block-quick-info-2">
  <div class="container">
    <div class="block-quick-info-2-inner">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
          <div class="d-flex quick-info-2">
            <span class="icon icon-home mr-3"></span>
            <div class="text">
              <strong class="d-block heading">Visit our Location</strong>
              <span class="excerpt">2875  Beechwood Drive</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
          <div class="d-flex quick-info-2">
            <span class="icon icon-phone mr-3"></span>
            <div class="text">
              <strong class="d-block heading">Call us today</strong>
              <span class="excerpt"><a href="#">+(123) 456 7890</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
          <div class="d-flex quick-info-2">
            <span class="icon icon-envelope mr-3"></span>
            <div class="text">
              <strong class="d-block heading">Send us a message</strong>
              <span class="excerpt"><a href="#">info@mysite.com</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
          <div class="d-flex quick-info-2">
            <span class="icon icon-clock-o mr-3"></span>
            <div class="text">
              <strong class="d-block heading">Opening hours</strong>
              <span class="excerpt">Mon-Fri 7:AM - 5PM</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--basicInfos end-->
<div class="block-services-1 py-5">
  <div class="container">
    <div class="row">
      <div class="mb-4 mb-lg-0 col-sm-6 col-md-6 col-lg-4">
        <h3 class="mb-3">About Ayurveda</h3><br>
        <p>Ayurveda is the branch of science that teaches you the wisdom of living life. It is a holistic approach to our  health that helps people to lead a healthy and balanced life.</p>
      </div>
      <div class="mb-4 mb-lg-0 col-sm-6 col-md-6 col-lg-4">
        <div class="block-service-1-card">
          <a href="#" class="thumbnail-link d-block mb-4"><img src="../../../assets/images/img_1.jpg" alt="Image" class="img-fluid"></a>
          <h3 class="block-service-1-heading mb-3"><a href="#">Historical Importance</a></h3>
          <div class="block-service-1-excerpt"><p>LIFE ( ayu) is the combination (samyoga) of body,senses,mind and reincarnating soul. The only aim of Ayurveda is to provide an individual a healthy and contended life. Ayurveda is particularly based on  the belief that health and wellness depend on a delicate balance between the mind, body and spirit.</p></div>
        </div>
      </div>
      <div class="mb-4 mb-lg-0 col-sm-6 col-md-6 col-lg-4">
        <div class="block-service-1-card">
          <a href="#" class="thumbnail-link d-block mb-4"><img src="../../../assets/images/img_2.jpg" alt="Image" class="img-fluid"></a>
          <h3 class="block-service-1-heading mb-3"><a href="#">Why Ayurveda?</a></h3>
          <div class="block-service-1-excerpt"><p>As Ayurveda is the oldest methodology of treatment, people are not much concerned towards it. But according to Ayurveda, it has the ability of treat may chronic diseases such as cancer, diabetes, arthritis and asthma ,which are not treatable through modern medicines.</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
