<div class="site-section block-services-1">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h2 class="site-section-heading text-center font-secondary text-black">Our Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="mb-4 mb-lg-4 col-sm-6 col-md-6 col-lg-6">
        <div class="block-service-1-card">
          <a href="#" class="thumbnail-link d-block mb-4"><img src="../../../assets/images/img_4.jpg" alt="Image"
              class="img-fluid"></a>
          <h3 class="block-service-1-heading mb-3"><a href="#">Wellness Support</a></h3>
          <div class="block-service-1-excerpt">
            <p>We will support you in building a healthier you. No matter what your health needs are, we will keep you
              on the path to meet us. We work together to connect you with the services you need.</p>
          </div>
        </div>
      </div>
      <div class="mb-4 mb-lg-4 col-sm-6 col-md-6 col-lg-6">
        <div class="block-service-1-card">
          <a href="#" class="thumbnail-link d-block mb-4"><img src="../../../assets/images/img_1.jpg" alt="Image"
              class="img-fluid"></a>
          <h3 class="block-service-1-heading mb-3"><a href="#">A Healthy Community</a></h3>
          <div class="block-service-1-excerpt">
            <p>When you choose us, you join a community. We work not just with you but with other members of our
              community to build a network of people working together for a healthier world. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h2 class="site-section-heading text-center font-secondary">
          Types of diseases cured by Ayurveda
        </h2>
      </div>
    </div>
    <div class="row">

      <div class="col-12">

        <div class="owl-carousel-2 owl-carousel">

          <div class="d-block block-testimony mx-auto text-center">
            <div class="person w-90 mx-auto mb-4">
              <img src="../../../assets/images/service/Gastrointestinal diseases.jpg" alt="Image" class="img-fluid mx-auto">
            </div>
            <div>
              <h2 class="h5 mb-4">Gastrointestinal diseases</h2>
              <ul class="ul-check list-unstyled success">
                <li>Digestive disorder</li>
                <li>Increased acidity</li>
                <li>Constipation</li>
                <li>Colitis</li>
                <li>Hemorrhoids</li>
                <li>Different types of hepatitis</li>
              </ul>
            </div>
          </div>
          <div class="d-block block-testimony mx-auto text-center">
            <div class="person w-90 mx-auto mb-4">
              <img src="../../../assets/images/service/Cardiac diseases.jpg" alt="Image" class="img-fluid mx-auto">
            </div>
            <div>
              <h2 class="h5 mb-4">Cardiac diseases</h2>
              <ul class="ul-check list-unstyled success">
                <li>Hypertension</li>
                <li>Coronary/blood circulation disorders</li>
              </ul>
            </div>
          </div>
          <div class="d-block block-testimony mx-auto text-center">
            <div class="person w-90 mx-auto mb-4">
              <img src="../../../assets/images/service/Respiratory diseases.jpg" alt="Image" class="img-fluid mx-auto">
            </div>
            <div>
              <h2 class="h5 mb-4">Respiratory diseases</h2>
              <ul class="ul-check list-unstyled success">
                <li>Sinusitis</li>
                <li>Cough</li>
                <li>Cold allergy</li>
              </ul>
            </div>
          </div>
          <div class="d-block block-testimony mx-auto text-center">
            <div class="person w-90 mx-auto mb-4">
              <img src="../../../assets/images/service/Joint problems.jpg" alt="Image" class="img-fluid mx-auto">
            </div>
            <div>
              <h2 class="h5 mb-4">Joint problems</h2>
              <ul class="ul-check list-unstyled success">
                <li>Arthritis</li>
                <li>Spondylitis</li>
                <li>Gout</li>
              </ul>
            </div>
          </div>
          <div class="d-block block-testimony mx-auto text-center">
            <div class="person w-90 mx-auto mb-4">
              <img src="../../../assets/images/service/Excretory system diseases.jpg" alt="Image" class="img-fluid mx-auto">
            </div>
            <div>
              <h2 class="h5 mb-4">Excretory system diseases</h2>
              <ul class="ul-check list-unstyled success">
                <li>Renal calculus</li>
                <li>Prostatitis</li>
                <li>Other renal disorders</li>
              </ul>
            </div>
          </div>
          <div class="d-block block-testimony mx-auto text-center">
            <div class="person w-90 mx-auto mb-4">
              <img src="../../../assets/images/service/Dermatological diseases.jpg" alt="Image" class="img-fluid mx-auto">
            </div>
            <div>
              <h2 class="h5 mb-4">Dermatological diseases</h2>
              <ul class="ul-check list-unstyled success">
                <li>Psoriasis</li>
                <li>Hair loss</li>
                <li>Other renal disorders</li>
                <li>Skin pustules</li>
              </ul>
            </div>
          </div>
          <div class="d-block block-testimony mx-auto text-center">
            <div class="person w-90 mx-auto mb-4">
              <img src="../../../assets/images/service/Children's diseases.jpg" alt="Image" class="img-fluid mx-auto">
            </div>
            <div>
              <h2 class="h5 mb-4">Children's diseases</h2>
              <ul class="ul-check list-unstyled success">
                <li>Lowered immunity</li>
                <li>Flu with cough</li>
                <li>Malnutrition</li>
                <li>Attention deficit while studying</li>
              </ul>
            </div>
          </div>
          <div class="d-block block-testimony mx-auto text-center">
            <div class="person w-90 mx-auto mb-4">
              <img src="../../../assets/images/service/Women's fertility issues.jpg" alt="Image" class="img-fluid mx-auto">
            </div>
            <div>
              <h2 class="h5 mb-4">Women's fertility issues</h2>
              <ul class="ul-check list-unstyled success">
                <li>Irregular period</li>
                <li>Cysts and Fibroma</li>
                <li>Sterility</li>
              </ul>
            </div>
          </div>
          <div class="d-block block-testimony mx-auto text-center">
            <div class="person w-90 mx-auto mb-4">
              <img src="../../../assets/images/service/Psychological disorders.jpg" alt="Image" class="img-fluid mx-auto">
            </div>
            <div>
              <h2 class="h5 mb-4">Psychological disorders</h2>
              <ul class="ul-check list-unstyled success">
                <li>Addiction</li>
                <li>Depression</li>
                <li>Insomnia</li>
                <li>Anxiety</li>
              </ul>
            </div>
          </div>
          <div class="d-block block-testimony mx-auto text-center">
            <div class="person w-90 mx-auto mb-4">
              <img src="../../../assets/images/service/Movement disorders.jpg" alt="Image" class="img-fluid mx-auto">
            </div>
            <div>
              <h2 class="h5 mb-4">Movement disorders</h2>
              <ul class="ul-check list-unstyled success">
                <li>Paralysis</li>
                <li>Consequences from brain apoplexy</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
