<div class="container">
  <div class="row">
    <div class="col-lg-8 cold-md-10">
      <h2 class="my-5 text-primary">Welcome</h2>
      <h5 class="mb-5">There's much to see here. So, take your time, look around, and learn all there is to know about
        the remedies you
        are looking for. We hope that this site helps you to the most and take a moment to drop us a line.</h5>
    </div>
  </div>


  <h3 class="my-5 text-primary text-center">We suggest</h3>
  <div class="row mb-5">
    <div class="col-md-4">
      <h4 class="my-5 text-primary">For common cold</h4>
      <ul class="list-group">
        <li class="list-group-item">Garlic soup helps reduce the harshness of a cold.</li>
        <li class="list-group-item">A glass of lemon juice a day would raise the body’s resistance.</li>
        <li class="list-group-item">Onion juice can also help avoid a cold.</li>
        <li class="list-group-item">Drink plenty of water, at least 6-8 glasses per day.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 class="my-5 text-primary">For cough</h4>
      <ul class="list-group">
        <li class="list-group-item">
          Basil leaves and ginger are very effective in relieving an irritating dry cough. You can either chew basil
          leaves or take fresh ginger with hot water.
        </li>
        <li class="list-group-item">Eat grapes. Grapes when eaten regularly can also help get rid of severe coughs.</li>
        <li class="list-group-item">Drinking a few cups of hot water with salt can also help stop coughing.</li>
        <li class="list-group-item">Take a hot shower. Breathing in the steam can provide temporary relief. </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 class="my-5 text-primary">For fever blisters</h4>
      <ul class="list-group">
        <li class="list-group-item">Apply petroleum jelly to the skin.</li>
        <li class="list-group-item">Apply cold compress on the affected area.</li>
        <li class="list-group-item">Avoid eating nuts and chocolate</li>
      </ul>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4">
      <h4 class="my-5 text-primary">For fever</h4>
      <ul class="list-group">
        <li class="list-group-item">Drink tea made with from saffron. </li>
        <li class="list-group-item">Eat oranges. Oranges give instant energy and helps the body fight unwanted infections. </li>
        <li class="list-group-item">A glass of milk also works wonders. </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 class="my-5 text-primary">For sore throat</h4>
      <ul class="list-group">
        <li class="list-group-item">A mixture of Listerine mouth wash and Hydrogen Peroxide. Pour a little of each liquid into a cup (equal parts) and gargle. </li>
        <li class="list-group-item">Eat three to four marshmallows to soothe a sore throat. The gelatin in the marshmallows is what soothes the sore throat. </li>
        <li class="list-group-item">Drink hot water, lemon juice, and honey mixed together. </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 class="my-5 text-primary">For heartburn</h4>
      <ul class="list-group">
        <li class="list-group-item">Dissolve a tsp. of baking soda in 8 ounces (1 cup) of water and drink. Baking soda is a natural antacid. </li>
        <li class="list-group-item">Bananas act as a natural antacid in the body. You can eat either fresh or dried bananas. </li>
        <li class="list-group-item">Fresh ginger is one of the oldest remedies for heartburn. It can be added to food when its cooked, eaten raw, or consumed as ginger tea. </li>
      </ul>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-4">
      <h4 class="my-5 text-primary">Other simple remedies</h4>
      <ul class="list-group">
        <li class="list-group-item">Use duct tape to remove warts. </li>
        <li class="list-group-item">Cure nail fungus with vapor rub. </li>
        <li class="list-group-item">Soothe eczema by using oatmeal. </li>
        <li class="list-group-item">Cure bad breath by eating yogurt. </li>
        <li class="list-group-item">A spoonful of sugar to cure the hiccups. </li>
        <li class="list-group-item">Bite a pencil to cure a headache. </li>
        <li class="list-group-item">Eat olives to help with motion sickness. </li>
      </ul>
    </div>
  </div>
</div>
